.banner-card {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.banner-img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}


  